html, body{
    background: url(https://subtlepatterns.com/patterns/sativa.png) repeat fixed;
}

@media (min-width: 640px) {
    .big-hidden {
        display: none;
    }
}

@media (max-width: 640px) {
    .small-hidden {
        display: none;
    }
}

#web {
    background-color: #b3ffe9;
}

#discord {
    background-color: #dfb3ff;
}

#youtube {
    background-color: #ffb5b3;
}

#twitch {
    background-color: #edb3ff;
}

.fixed-input {
    margin: 15px;
}

.space-bottom {
    margin-bottom: 10px;
}

.msg-box {
    margin-right: 28px;
    background-color: #ffffff;
    border-radius: 5px;
    margin-bottom: 10px;
    border: solid;
    border-width: 1px;
    border-color: #8f8f8f;
}

.msg-div {
    margin-left: 10px;
    margin-bottom: -5px;
}

.username {
    color: #454545;
    margin-bottom: 3px;
    font-size: 14px;
}

.provider {
    font-size: 10px;
}

.timestamp {
    color: #454545;
    font-size: 10px;
    position: absolute;
    right: 40px;
    margin-top: 8px;
}

.msg {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 12px;
}
